<head>
    <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
    <% end %>
</head>

<div class="container">
    <div class="jumbotron mt-4 top">
        <h1 class="display-4">こんにちは!</h1>
        <p class="lead">これは単純なヒーローユニット、注目のコンテンツや情報に特別な注意を喚起するためのシンプルなジャンボトロンスタイルのコンポーネント。</p>
        <hr class="my-4">
        <p>より大きなコンテナの範囲内でコンテンツに空間をあけるため、文字の体裁と空白用のユーティリティクラスを使用している。</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">もっと学ぼう</a>
    </div><!-- /.jumbotron -->
    ...
</div><!-- /.container -->