    <% if messages.present? %>
    <% messages.each do |m| %>
    <div class="balloon6">
      <div class="faceicon">
        <%= attachment_image_tag m.user, :image, :fill, 200, 200, class: "img-rounded pull-left profile-thumb", fallback: "no_image.jpg", size:'100x100' %>
        <strong><%= link_to m.user.name, user_path(m.user_id ) %></strong>
      </div>
      <div class="chatting">
        <div class="says">
          <strong><%= m.content %></strong>
        </div>
        <small><%= m.created_at.to_s(:datetime_jp) %></small>
      </div>
    </div>
    <% end %>
    <br>
    <% else %>
    <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>