<head>
  <% set_meta_tags title: "掲示板新規作成", description: 'このページで掲示板を新規作成できます。ご自分にとって興味のあるトピックを選んでご自由に作成してください' %>
</head>

<body>
  <div class="container">
    <br>
    <h2 class="text-align: text-center">
      <strong class="fas fa-chalkboard">掲示板作成</strong></h2>
    <div class="mx-auto">
      <%= form_with model:@topic do |f| %>
      <form>
        <h2 class="strong"><%= f.label :タイトル, class:"fas fa-clipboard-list"%></h2>
        <%= f.text_field :title, class:'form-control' %>
        <%= f.submit "作成", class:"btn btn-primary btn-lg"%>
      </form>
      <% end %>
    </div>
  </div>
</body>