<head>
  <% set_meta_tags title: "mapの編集", description: 'このページではマップに登録した情報を編集できます' %>
</head>
<br>
<h1 class="mx-auto fas fa-edit">スポット編集
</h1>
<div class="container">
  <br>
  <br>
  <%= render 'form', map: @map %>
  <div style="text-align: center">
    <%= link_to 'スポット一覧', maps_path, class:'btn btn-primary' %>
  </div>
</div>