<h2>gmap</h2>

<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="Encode" onclick="onclickEncodeButton()">
<!-- 下の1行を追加 -->
<div id="display">何かが表示される、、、、！</div>

<div id='map'></div>

<style>
    #map {
        height: 600px;
        width: 600px;
    }
</style>

<script>
    let map
    let geocoder
    // 下の1行を追加 
    const display = document.getElementById('display')

    function initMap() {
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 40.7828,
                lng: -73.9653
            },
            zoom: 12,
        });

        marker = new google.maps.Marker({
            position: {
                lat: 40.7828,
                lng: -73.9653
            },
            map: map
        });
    }

    function onclickEncodeButton() {
        codeAddress()
        searchResult()
    }

    function searchResult() {
        const inputAddress = document.getElementById('address').value;
        const url =
            `https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=${inputAddress}&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key=AIzaSyDMGRqUBFI2pMfVWFOiyWcf9zPoVHdd6DE`
        console.log(url)
        $.ajax({
            type: "GET",
            url: url,
            dataType: 'jsonp'
        }).done(function (data) {
            console.log(data)
            // 成功の場合の処理
        }).fail(function (jqXHR, textStatus, errorThrown) {
            // エラーの場合処理
        });
    }


    function codeAddress() {
        let inputAddress = document.getElementById('address').value;

        geocoder.geocode({
            'address': inputAddress
        }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                // 下の1行を追加 
                display.textContent = "検索結果：" + results[0].geometry.location
            } else {
                alert('該当する結果がありませんでした：' + status);
            }
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMGRqUBFI2pMfVWFOiyWcf9zPoVHdd6DE&callback=initMap" async
    defer></script>