<html>

<head>
    <% set_meta_tags title: "マイページ", description: 'に登録しているユーザーのプロフィールページを表示しております。' %>
</head>

<body>
    <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
    <% end %>
    <br>
    <div class="container-fluid mx-auto" style="max-width: 800px;">
        <h1 class="text-align: text-center">
            <strong class="fas fa-address-card">
                マイページ</strong></h1>
        <%= render 'profile', user: @user,now: ''%>
    </div>
</body>