<html>

<head>
    <% set_meta_tags title: "マイページ", description: 'に登録しているユーザーのプロフィールページを表示しております。' %>
</head>

<body>
    <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
    <% end %>
    <br>
    <div class="container-fluid col-md-7">
        <h1 class="text-align: text-center">
            マイページ</h1>
        <%= render 'profile', user: @user,now: ''%>

        <% if @user.id == current_user.id %>
        <% else %>
        <%= render 'rooms/room', room: @room, roomId: @roomId, isRoom: @isRoom, entry: @entry, user: @user %>
        <% end %>
    </div>
</body>