<html>

<head>
  <% set_meta_tags title: "マイページ", description: 'に登録しているユーザーのプロフィールページを表示しております。' %>
</head>

<body>
  <strong class="text-center">
    <% if flash[:notice] %>
    <p class="alert alert-success"><%= flash[:notice] %></p>
    <% end %>
  </strong>
  <br>

  <h1 class="text-align: text-center">
    <strong class="fas fa-address-card">
      <%= @user.name.to_s+"さんのページ" %></a></strong></h1>
  <%= render 'profile', user: @user,now: ''%>
</body>