<body>
    <div class="card mx-auto bg-light col text-center" style="width: 400px;">

        <h1>チャット一覧</h1>

        <% @anotherEntries.each do |e| %>
            <%= link_to room_path(e.room.id) do %>
            <%= e.user.name %>とのDM<br>
            <% end %>
        <% end %>
    </div>
</body>