<% if current_user.already_favorited?(post) %>
<%= link_to post_favorites_path(post, post_id: post.id), method: :delete, remote: true do %>
<span class="far fa-thumbs-up"></span>
<%= post.favorites.count %>
<% end %>
<% else %>
<%= link_to post_favorites_path(post, post_id: post.id), method: :post, remote: true do %>
<span class="far fa-thumbs-up"><%= post.favorites.count %></span>
<% end %>
<% end %>