<html>

<head>
  <% set_meta_tags title: "投稿編集", description: "に登録しているユーザーが投稿した内容を編集することができます。"%>
</head>

<body>
  <br>
  <h1 class="text-align: text-center">
    <strong class="fas fa-edit">投稿編集</strong></h1>
  <div class="container">
    <%= render "posts/form", post: @post%>
    <br>
  </div>
</body>

</head>