<html>

<head>
    <% set_meta_tags title: "投稿作成ページ", description: 'このページで自分が訪れた観光地の情報を入力して投稿することができます。' %>
</head>

<body>
    <div class="container">
        <br>
        <h1 class="text-align: text-center">
            <strong class="fas fa-edit">投稿内容</strong></h1>
        <%= render "posts/form", post: @post %>
    </div>

</body>