<html>

<head>
    <% set_meta_tags title: 'このサイトについて', description: 'について説明しています' %>
</head>
</body>
<div class="jumbotron jumbotron-fluid about">
    <div class="container">
        <h1 class="display-12 about-context">HPへようこそ</h1><br>
        <p>このサイトでは歴史好きユーザーの方達のために<br>
            様々な機能をご用意しております。</p>
        <%= link_to "登録はこちら", new_user_registration_path, class: "btn btn-primary rounded-pill" %>
    </div>
</div>
<div class="container">
    <!-- 列の例 -->
    <div class="row">
        <div class="col-md-4">
            <h2>観光地の検索</h2>
            <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>掲示板</h2>
            <p>
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>みんなの投稿</h2>
            <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>コラム</h2>
            <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
        </div>
    </div>
</div>
</body>

</html>