<html>

<head>
    <% set_meta_tags title: 'ヒストリアンについて', description: 'ヒストリアンについて説明しています' %>
</head>

<body>
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="mx-auto">
                    <div class="about-image">
                        <div class="single-image">
                            <img src=" assets/about4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h2> ヒストリアンへようこそ</h2>
                        <p>ヒストリアンはスペイン語の「historia」と、茶室や住居を意味する「庵」を掛け合わせた造語です。
                            <br>
                            戦国時代に茶室で武将達が交流したことから、歴史好きのユーザーがこのサイトで交流できる様に、という意味を込めてサイト名を「ヒストリアン」としています。
                            <br>
                            ヒストリアンではこれまで自分が訪れた歴史的観光地の情報をシェアしたり、自分でテーマを設定して掲示板を作成、ユーザーと直接チャットをすることが可能です。
                            <br>
                            これらの機能を通じて、ユーザーと情報交換や交流を深めていただけたら幸いです。
                        </p>
                        <br>
                        <%= link_to "登録はこちら", new_user_registration_path, class: "main-btn mt-25 m4 " %>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>