.about {
    background-image: url("japan.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    height: 450px;
}

.about-context,
.btn-primary {
    margin-top: 20px;
    text-align: left;
}