.cover-img {
    height: 800px;
    display: table;
    width: 100%;
    background-size: cover;
}

.about-context {
    margin-top: 10%;
    text-align: left;
}

.text-muted {
    display: table-cell;
    vertical-align: middle;
}