/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "simplex/variables";
@import "bootstrap";
@import "simplex/bootswatch";
@import "*"; //

.site-title {
  margin-left: 20px;
}

.body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.col_white_amrc {
  color: #FFF;
}


footer {
  width: 100%;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: white;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #CCC;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

@media screen and (min-width: 1000px) {

  .user-header .user-status .follow-group {
    margin-top: 12%;
    margin-bottom: 5%;
  }

  .user-header .user-status {
    margin-right: 15%;
  }

  .user-header .user-status .user-name {
    margin-top: 75px;
  }

  .follow-chat-btn {
    margin-top: 90px;
  }

  .user-tab-title {
    font-size: 1.2rem;
    position: relative;
    padding: 1% 4%;
    background: #00CCCC;
    color: white;
    font-weight: bold;
    width: 31%;
    z-index: -1;
    text-align: center;
  }

  .user-tab-title:before {
    position: absolute;
    content: '';
    left: -2px;
    top: -2px;
    border: none;
    border-left: solid 40px #EEFFFF;
    border-bottom: solid 79px transparent;
    z-index: -2;
  }
}

.card-title,
.card-text {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 18px;
  border-bottom: 1px dotted #b8b8b8;
}

.card-subtitle {
  padding-bottom: 8px;
}