// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_user {
    margin-top: 15%;
    margin-left: 35%;
}

.post_circle {
    margin-top: 1%;
}

.balloon2-left {
    position: relative;
    color: #555;
    background: #FFF;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    margin-top: 2%;
}

// .balloon2-left:before {
//     content: '';
//     position: absolute;
//     display: block;
//     width: 0;
//     height: 0;
//     left: -15px;
//     top: 20px;
//     border-right: 15px solid #FFF;
//     border-top: 15px solid transparent;
//     border-bottom: 15px solid transparent;
// }

// .balloon2-left:after {
//     content: '';
//     position: absolute;
//     display: block;
//     width: 0;
//     height: 0;
//     left: -12px;
//     top: 20px;
//     border-right: 15px solid #d3d3d3;
//     border-top: 15px solid transparent;
//     border-bottom: 15px solid transparent;
// }