<div class="container">
  <% if model.errors.any? %>
  <div class="alert alert-danger mx-auto">
    <ul>
      <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>